PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/womensafety
TWILIO_ACCOUNT_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=+1234567890
